!!!
%html.no-js{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    <!--[if gte IE 8]><!-->
    = stylesheet_link_tag 'app'
    <!--[endif]-->
    /[if lt IE 8]
      = stylesheet_link_tag 'blank'
    - [32, 48, 64, 128].each do |size|
      = favicon_tag "logo/#{size}.png", sizes: "#{size}x#{size}"
    %link{rel: 'alternate', href: '/rss.xml', type: 'application/rss+xml', title: 'RSS'}
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'}
    %title= title
    :javascript
      document.documentElement.className='js'
    /[if lt IE 9]
      = javascript_include_tag 'vendor/html5shiv-printshiv'
  %body
    %header#top
      %nav= link_to 'fengb.info', '/', class: 'icon-logo'
      %h1 fengb.info &rarr; Blog

    %main#content.p-blog
      %section.panel.entry
        = partial 'entry_header', locals: {entry: current_page, link: false}
        ~ yield

      %footer#legal
        %span#copy Benjamin Feng &copy; #{Date.today.year}
        %span#license
          This website is licensed under
          = link_to 'CC BY-NC-ND 3.0', 'http://creativecommons.org/licenses/by-nc-nd/3.0/', rel: 'license', title: 'Creative Commons Attribution-NonCommercial-NoDerivs 3.0 license'

    = javascript_include_tag 'app'
