---
pageable: true
per_page: 12
---
- content_for :title do
  Blog [#{tagname}]

- if paginate && num_pages > 1
  %section.panel
    %p Page #{page_number} of #{num_pages}

    - if prev_page
      %p= link_to 'Previous page', prev_page
    - if next_page
      %p= link_to 'Next page', next_page

= partial 'entries_list', locals: {entries: page_articles}
